@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*main color: #ffc21c*/

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    user-select: none;
}

:root{
    --primary-color: #ffc21c; 
}

#name{
    margin-bottom: 10px;
}

#banner{
    padding: 20px 30px;
    background-color: var(--primary-color); 
    font-size: 41px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.categories{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    margin: 50px auto 50px auto;
    width: fit-content;
    background-color: var(--primary-color);
}

#products-selector{
    padding: 0px 100px;
    width: 100%;
}

.products{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.products > div {
    background-color: #e9e9e9c4;
    padding: 25px 35px;
    width: 250px;
    margin: 10px auto;
    border-radius: 15px;
}

.products > div > div > img{
    width: 180px;
    height: 150px;
    object-fit: contain;
}

.products > div > div > #name{
    font-weight: bold;
    width: 100%;
}

.products > div > div:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products button{
    border: none;
    background-color: var(--primary-color); 
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
}