@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*main color: #ffc21c*/

:root{
    --primary-color: #ffc21c; 
}

.categories{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    margin: 50px auto 50px auto;
    width: fit-content;
    background-color: var(--primary-color);
}

.wrapper{
    width: 450px;
    height: 400px;
    background-color: #505050;
}

.form-box .image{
    height: 150px;
    object-fit: contain;
    border-bottom: none;
}

.products button{
    border: none;
    background-color: var(--primary-color); 
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
}

.products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products-selector{
    margin-top: 120px;
    width: 100%;
}

#amount{
    left: 0;
    padding: 11px;
    border-radius: 10px 10px 0px 0px;
    color: var(--primary-color);
}
body{
    background: none;
}
