<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <title>Login</title>
</head>

<body>
    <section>
        <div class="bg-text">
            <div>
                <h3>Login</h3>
            </div>
            <form action="../../Controllers/Login.php" method="post">
                <label>Username</label><br>
                <input type="text" value="" name="name" autocomplete="off"><br>
                <label>Password</label><br>
                <input type="password" value="" name="password"><br>
                <input type="submit" value="Invio"><br>
                <a href="../Register/Register.html">Sei nuovo? Crea un account</a>
            </form>
        </div>
    </section>
</body>

</html>