@import url('https://fonts.googleapis.com/css?family=Poppins');

.form-box .image {
   min-height: 250px;
}

.min-image {
   max-height: 50px;
   margin-top: 20px;

}

body {
   justify-content: space-between;
   flex-direction: column;
}

header {
   position: relative;
}

.btn {
   font-size: 1.5em;
}

.list {
   min-width: 550px;
   height: fit-content;
   overflow: hidden;
}

.collapsible {
   background: transparent;
   border: 2px solid #ffc21c;
   text-align: center;
   color: white;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   outline: none;
   font-size: 15px;
   justify-content: space-between;
}

.active,
.collapsible:hover {
   background-color: #ffc21c;
}

.collapsible:after {
   content: '\002B';
   color: white;
   font-weight: bold;
   float: right;
   margin-left: 5px;
}

.active:after {
   content: "\2212";
}

.content {
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   padding: 0 18px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}


.input-box .icon {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   font-size: 16px;
   width: 30%;
   height: 25px;
   cursor: pointer;
}

.content .form-box {
   max-width: 200px;
}

.form-box .input-box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.banner {
   background: transparent;
   color: #fff;
}

.detail-wrapper {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #ffc21c;
   border-radius: 10px;
}

.detail-wrapper .min-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 20px 0px 20px 0px;
}