#banner{
   padding: 20px 30px;
   background-color: #ffc21c; 
   font-size: 41px;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

 body{
     background-color: white;
     margin: 0%;
 }

 #logo{
    width: 100%;
    text-align: center;
    margin-top: 7%;
 }
 #logoimg{
    border-radius: 12px;
 }

 input{
    background-color: #ffc21c;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
 }
 #t1{
    text-align: center;
    margin-top: 2%;
 }

#login{

   margin-top: 1%;
   text-align: right;
  

}
#reg{
   margin-right: 1% ;
}