<!DOCTYPE html>
<html lang="en">
<head>
    <script src="home.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>thiasburger</title>
</head>
<body>
    <div id="banner">THIASBURGER</div>
    <div id="logo"><img id="logoimg"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkHqJgQNNxCar3UH---CHPZ3NkXpb_xu-lJg&usqp=CAU" height="350px" width="350px"></div>
    <div id="t1">
        <form action="../../Controller/CreateBurger.php" method="post">
            <input type="submit" value="CREA ORDINE"></button>
        </form>
    </div>
</body>
</html>