@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*main color: #ffc21c*/

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    user-select: none;
}

:root{
  --primary-color: #ffc21c; 
}

body{
  width: 100%;
  height: 100vh;
  background-image: url('Login_3.jpg');
  background-size: cover;
}

.bg-text{
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  max-width: 250px;
  background-color: #ffffff99;
  padding: 20px 30px;
  border-radius: 15px;
}

.bg-text h3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.bg-text form input{
  margin: 4px 0 10px 0;
  width: 100%;
  background-color: #f6f6f600;
  padding: 8px 0px;
  border: none;
  border-bottom: 1px solid #44444499;
}

.bg-text form label{
  font-size: 14px;
}

.bg-text form input[type = "submit"], 
.bg-text form input[type = "reset"]{
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 115px;
  padding: 8px 10px;
  display: block;
  margin-top: 15px;
}

.bg-text form input[type = "reset"]{
  background-color: #f6f6f699;
}

.bg-text form a{
  font-size: 14px;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #3070e6;
  margin-top: 10px;
}

#btn-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}