<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Register.css">
    <title>Register</title>
</head>

<body>
    <section>
        <div class="bg-text">
            <div>
                <h3>Register</h3>
            </div>
            <form action="../../Controllers/Register.php" method="post">
                <label>Username</label><br>
                <input type="text" value="" name="name" autocomplete="off"><br>
                <label>Password</label><br>
                <input type="password" value="" name="password"><br>
                <span id="btn-flex">
                    <input type="reset" value="Reset">
                    <input type="submit" value="Invio">
                </span>
                <a href="../Login/LoginPage.html">Hai gia un account? Accedi</a>
            </form>
        </div>
    </section>
</body>

</html>