<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Register.css">
    <title>Register</title>
</head>

<body>
    <div id="bar">
        <h1>Benvenuto crea il tuo account</h1>
    </div>
    <section>
        <div class="bg-text">
            <div>
                <h3>Register</h3>
            </div>
            <form action="../../Controller/Register.php" method="post">
                <label for="name">Username</label><br>
                <input type="text" value="" name="name" id="name" autocomplete="off"><br>
                <label for="password">Password</label><br>
                <input type="password" value="" name="password" id="password"><br>
                <input type="submit" value="Invio"><br>
                <a href="../Login/LoginPage.html">Hai gia un account? Accedi</a>
            </form>
        </div>
    </section>
</body>

</html>